{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} base.html {% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'WebSite/css/styles_base.css' %}" />
  {% block styles %} {% endblock styles %}
</head>
<body>
  <header>
    <hr class="line-pages">
    <div class="header-containe">
      <div class="logo-container">
        <img src="../../static/WebSite/assets/img/Logo VIV - Sin Vectorizar.png" alt="Logo VideoIngenieriaViral" class="logo"/>
      </div>
      <!--     Espacio para el titulo        -->
      {% block h1 %} {% endblock h1 %}
      
    </div>
    <!--     Espacio para el navegador     -->
    <nav>
      <ul class="nav-bar">
        <li><a href="#"><img src="../../static/WebSite/assets/img/Logo Home.png" alt="" class="img-nav"/>INICIO</a></li>
        <li><a href="../WebSite/pages/nosotros.html"><img src="../../static/WebSite/assets/img/Logo About.png" alt="" class="img-nav"/>NOSOTROS</a></li>
        <li><a href="./pages/blog.html"><img src="../../static/WebSite/assets/img/Logo Texto.png" alt="" class="img-nav"/>BLOG</a></li>
        <li><a href="./pages/canal.html"><img src="../../static/WebSite/assets/img/Logo YouTube Blanco y Negro.png" alt="" class="img-nav"/>CANAL</a></li>
        <li><a href="./pages/contacto.html"><img src="../../static/WebSite/assets/img//Logo Contacto.png" alt="" class="img-nav"/>CONTACTO</a></li>
        <li><a href="#"><img src="../../static/WebSite/assets/img/Logo Usuario Avatar.png" alt="Logo Usuario" class="img-nav"></a></li>
      </ul>
    </nav>
    <!--                                   -->
  </header>
</body>
</html>