{% extends 'WebSite/base.html' %}
{% load static %}

{% block title %}Create Form{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'WebSite/css/styles_base.css' %}"/>
<link rel="stylesheet" href="{% static 'WebSite/css/styles_index.css' %}"/>
<link rel="stylesheet" href="{% static 'WebSite/css/styles_create_form.css' %}"/>
{% endblock %}

<!--     Espacio para el titulo        -->
{% block h1 %}
<h1 class="header-title">Creación Tarjeta Inicio</h1>
{% endblock %}
<!--                                   -->

<!--     Espacio para el cuerpo        -->
{% block content %}
<div class="form-container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-guardar">Guardar</button>
    <a href="{% url 'WebSite_home' %}" class="btn-cancelar">Cancelar</a>
  </form>
</div>
{% endblock %}
<!--                                   -->