{% extends 'WebSite/base.html' %}
{% load static %}

{% block title %}VideoIngenieriaViral{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'WebSite/css/styles_base.css' %}"/>
<link rel="stylesheet" href="{% static 'WebSite/css/styles_index.css' %}"/>
{% endblock %}

<!--     Espacio para el titulo        -->
{% block h1 %}
<h1 class="header-title">VideoIngenieriaViral</h1>
{% endblock %}
<!--                                   -->

<!--     Espacio para el cuerpo        -->
{% block content %}
<section class="card-information">
  <article class="card-container">
    <h2>VIDEO INGENIERIA VIRAL</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, atque! Ipsa quisquam dolores non porro voluptatum perspiciatis tempora. Vitae expedita voluptatibus nesciunt impedit ea facere eveniet possimus adipisci eaque cumque?
    </p>
  </article>
  <div>
    <ul class="card-redes">
      <li><a href="https://www.youtube.com/@videoingenieriaviral" target="_blank" class="nav-redes"><img src="./assets/img/Logo YouTube Original.png" alt="Logo Redes" class="img-redes"/>@videoingenieriaviral</a></li>
      <li><a href="https://www.linkedin.com/in/elvio-gonzalez-ingeniero-59b1a311/" target="_blank" class="nav-redes"><img src="./assets/img/Logo LinkedIn Original.png" alt="Logo Redes" class="img-redes"/>Elvio Gonzalez</a></li>
      <li><a href="https://www.instagram.com" target="_blank" class="nav-redes"><img src="./assets/img/Logo Instagram Original.png" alt="Logo Redes" class="img-redes"/>@videoingenieriaviral</a></li>
      <li><a href="nombreapellido@gmail.com" target="_blank" class="nav-redes"><img src="./assets/img/Logo Email Blanco y Negro.png" alt="Logo Redes" class="img-redes"/>nombreapellido@gmail.com</a></li>
    </ul>
  </div>
</section>
{% endblock %}
<!--                                   -->